In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('Placement.csv')
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
        def quanqual(dataset):
                quan=[]
                qual=[]

                for columnName in dataset.columns:
                    if (dataset[columnName].dtype=='O'):
                        qual.append(columnName)
                    else:
                        quan.append(columnName)
                return quan,qual

In [4]:
quan,qual = quanqual(dataset)

In [5]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [6]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [7]:
descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%'],columns=quan)
descript

        sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean      NaN   NaN   NaN      NaN     NaN   NaN    NaN
median    NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q1:25%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q2:50%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q3:75%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q4:100%   NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [8]:

def mmm_percentile (quan,dataset):
    descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%'],columns=quan)
    for column in quan:
        descript [column]['mean']=dataset[column].mean()
        descript [column]['median']=dataset[column].median()
        descript [column]['mode']=dataset[column].mode()[0]
        descript [column]['Q1:25%']=dataset.describe()[column]['25%']
        descript [column]['Q2:50%']=dataset.describe()[column]['50%']
        descript [column]['Q3:75%']=dataset.describe()[column]['75%']
        descript [column]['Q4:100%']=dataset.describe()[column]['max']
    return descript

In [9]:
mmm_percentile (quan,dataset)

         sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean       108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
median     108       67       65       66       71       62  265000
mode         1       62       63       65       60     56.7  300000
Q1:25%    54.5     60.6     60.9       61       60   57.945  240000
Q2:50%     108       67       65       66       71       62  265000
Q3:75%   161.5     75.7       73       72     83.5   66.255  300000
Q4:100%    215     89.4     97.7       91       98    77.89  940000

In [10]:
descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max'],columns=quan)
descript

        sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean      NaN   NaN   NaN      NaN     NaN   NaN    NaN
median    NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q1:25%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q2:50%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q3:75%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q4:100%   NaN   NaN   NaN      NaN     NaN   NaN    NaN
IQR       NaN   NaN   NaN      NaN     NaN   NaN    NaN
1.5rule   NaN   NaN   NaN      NaN     NaN   NaN    NaN
lesser    NaN   NaN   NaN      NaN     NaN   NaN    NaN
greater   NaN   NaN   NaN      NaN     NaN   NaN    NaN
min       NaN   NaN   NaN      NaN     NaN   NaN    NaN
max       NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [11]:
def iqr (quan,dataset):
    descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max'],columns=quan)
    for column in quan:
        descript [column]['mean']   =dataset[column].mean()
        descript [column]['median'] =dataset[column].median()
        descript [column]['mode']   =dataset[column].mode()[0]
        descript [column]['Q1:25%'] =dataset.describe()[column]['25%']
        descript [column]['Q2:50%'] =dataset.describe()[column]['50%']
        descript [column]['Q3:75%'] =dataset.describe()[column]['75%']
        descript [column]['Q4:100%']=dataset.describe()[column]['max']
        descript [column]['IQR']    =descript [column]['Q3:75%']-descript [column]['Q1:25%']
        descript [column]['1.5rule']=1.5*descript [column]['IQR']
        descript [column]['lesser'] =descript [column]['Q1:25%']-descript [column]['1.5rule']
        descript [column]['greater']=descript [column]['Q3:75%']+descript [column]['1.5rule']
        descript [column]['min']    =dataset[column].min()
        descript [column]['max']    =dataset[column].max()
    return descript

In [12]:
descript_iqr=iqr(quan,dataset)

In [13]:
descript_iqr

         sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean       108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
median     108       67       65       66       71       62  265000
mode         1       62       63       65       60     56.7  300000
Q1:25%    54.5     60.6     60.9       61       60   57.945  240000
Q2:50%     108       67       65       66       71       62  265000
Q3:75%   161.5     75.7       73       72     83.5   66.255  300000
Q4:100%    215     89.4     97.7       91       98    77.89  940000
IQR        107     15.1     12.1       11     23.5     8.31   60000
1.5rule  160.5    22.65    18.15     16.5    35.25   12.465   90000
lesser    -106    37.95    42.75     44.5    24.75    45.48  150000
greater    322    98.35    91.15     88.5   118.75    78.72  390000
min          1    40.89       37       50       50    51.21  200000
max        215     89.4     97.7       91       98    77.89  940000

In [14]:
descript_iqr ['hsc_p']['min']<descript_iqr ['hsc_p']['lesser']

True

In [15]:
def findlessgreat(quan,descript_iqr):
    less=[]
    great=[]

    for column in quan:
        if(descript_iqr[column]['min']<descript_iqr [column]['lesser']):
            less.append(column)
        if(descript_iqr[column]['max']>descript_iqr [column]['greater']):
            great.append(column)
    return less,great

In [16]:
less,great=findlessgreat(quan,descript_iqr)

In [17]:
less

['hsc_p']

In [18]:
great

['hsc_p', 'degree_p', 'salary']

In [19]:
def replace_outlier(dataset,descript_iqr,less,great):
    for column in less:
        dataset[column][dataset[column]<descript_iqr[column]['lesser']]=descript_iqr[column]['lesser']                   
    for column in great:
        dataset[column][dataset[column]>descript_iqr[column]['greater']]=descript_iqr[column]['greater'] 
    return dataset

In [20]:
descript_replace=replace_outlier(dataset,descript_iqr,less,great)

C:\Users\jayas\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jayas\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [21]:
descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max','skewness','kurtosis'],columns=quan)
descript

         sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean       NaN   NaN   NaN      NaN     NaN   NaN    NaN
median     NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode       NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q1:25%     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q2:50%     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q3:75%     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q4:100%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
IQR        NaN   NaN   NaN      NaN     NaN   NaN    NaN
1.5rule    NaN   NaN   NaN      NaN     NaN   NaN    NaN
lesser     NaN   NaN   NaN      NaN     NaN   NaN    NaN
greater    NaN   NaN   NaN      NaN     NaN   NaN    NaN
min        NaN   NaN   NaN      NaN     NaN   NaN    NaN
max        NaN   NaN   NaN      NaN     NaN   NaN    NaN
skewness   NaN   NaN   NaN      NaN     NaN   NaN    NaN
kurtosis   NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [24]:
def replaced_data(quan,dataset):
    descript=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','Q4:100%','IQR','1.5rule','lesser','greater','min','max','skewness','kurtosis'],columns=quan)
    for column in quan:
        descript [column]['mean']   =dataset[column].mean()
        descript [column]['median'] =dataset[column].median()
        descript [column]['mode']   =dataset[column].mode()[0]
        descript [column]['Q1:25%'] =dataset.describe()[column]['25%']
        descript [column]['Q2:50%'] =dataset.describe()[column]['50%']
        descript [column]['Q3:75%'] =dataset.describe()[column]['75%']
        descript [column]['Q4:100%']=dataset.describe()[column]['max']
        descript [column]['IQR']    =descript [column]['Q3:75%']-descript [column]['Q1:25%']
        descript [column]['1.5rule']=1.5*descript [column]['IQR']
        descript [column]['lesser'] =descript [column]['Q1:25%']-descript [column]['1.5rule']
        descript [column]['greater']=descript [column]['Q3:75%']+descript [column]['1.5rule']
        descript [column]['min']    =dataset[column].min()
        descript [column]['max']    =dataset[column].max()
        descript[column]['skewness']=dataset[column].skew()
        descript[column]['kurtosis']=dataset[column].kurtosis()
        
    return descript

In [25]:
replaced_newdata=replaced_data(quan,dataset)

In [26]:
replaced_newdata

          sl_no     ssc_p      hsc_p   degree_p   etest_p     mba_p    salary
mean        108   67.3034    66.3347    66.3586   72.1006   62.2782    277649
median      108        67         65         66        71        62    265000
mode          1        62         63         65        60      56.7    300000
Q1:25%     54.5      60.6       60.9         61        60    57.945    240000
Q2:50%      108        67         65         66        71        62    265000
Q3:75%    161.5      75.7         73         72      83.5    66.255    300000
Q4:100%     215      89.4      91.15       88.5        98     77.89    390000
IQR         107      15.1       12.1         11      23.5      8.31     60000
1.5rule   160.5     22.65      18.15       16.5     35.25    12.465     90000
lesser     -106     37.95      42.75       44.5     24.75     45.48    150000
greater     322     98.35      91.15       88.5    118.75     78.72    390000
min           1     40.89      42.75         50        50     51.21    200000
max         215      89.4      91.15       88.5        98     77.89    390000
skewness      0 -0.132649   0.162611   0.204164  0.282308  0.313576    0.8067
kurtosis   -1.2  -0.60751  0.0869008 -0.0974897  -1.08858 -0.470723 -0.239837

In [27]:
def check_less_great(replaced_newdata,quan):
    less=[]
    great=[]

    for column in quan:
        if(descript[column]['min']<descript [column]['lesser']):
            less.append(column)
        if(descript[column]['max']>descript [column]['greater']):
            great.append(column)
    return less,great

In [28]:
less,great=check_less_great(replaced_newdata,quan)

In [29]:
less

[]

In [30]:
great

[]

In [31]:
freqtab=pd.DataFrame(columns=['uniquevalue','frequency','relativefrequency','cumulativefrequency'])
freqtab

Empty DataFrame
Columns: [uniquevalue, frequency, relativefrequency, cumulativefrequency]
Index: []

In [32]:
freqtab['uniquevalue']=dataset['ssc_p'].value_counts().index
freqtab['frequency']=dataset['ssc_p'].value_counts().values
freqtab['relativefrequency']=freqtab['frequency']/103
freqtab['cumulativefrequency']=freqtab['relativefrequency'].cumsum()
freqtab

     uniquevalue  frequency  relativefrequency  cumulativefrequency
0          62.00         11           0.106796             0.106796
1          63.00         10           0.097087             0.203883
2          67.00          9           0.087379             0.291262
3          52.00          9           0.087379             0.378641
4          73.00          9           0.087379             0.466019
..           ...        ...                ...                  ...
98         80.60          1           0.009709             2.048544
99         65.20          1           0.009709             2.058252
100        80.40          1           0.009709             2.067961
101        59.96          1           0.009709             2.077670
102        78.50          1           0.009709             2.087379

[103 rows x 4 columns]

In [33]:
def freqtable(columnname,dataset):
    freqtab=pd.DataFrame(columns=['uniquevalue','frequency','relativefrequency','cumulativefrequency'])
    freqtab['uniquevalue']=dataset['ssc_p'].value_counts().index
    freqtab['frequency']=dataset['ssc_p'].value_counts().values
    freqtab['relativefrequency']=freqtab['frequency']/103
    freqtab['cumulativefrequency']=freqtab['relativefrequency'].cumsum()
    return freqtab

In [34]:
freqtable('degree_p',dataset)

     uniquevalue  frequency  relativefrequency  cumulativefrequency
0          62.00         11           0.106796             0.106796
1          63.00         10           0.097087             0.203883
2          67.00          9           0.087379             0.291262
3          52.00          9           0.087379             0.378641
4          73.00          9           0.087379             0.466019
..           ...        ...                ...                  ...
98         80.60          1           0.009709             2.048544
99         65.20          1           0.009709             2.058252
100        80.40          1           0.009709             2.067961
101        59.96          1           0.009709             2.077670
102        78.50          1           0.009709             2.087379

[103 rows x 4 columns]